/* Start of general styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background: #ffffff;
    font-family: "Coming soon", Arial;
    cursor: pointer;
}

.game-stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    border: 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

p,
li {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 15px;
    padding: 10px;
    list-style-position: inside;
}

.button {
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid;
}

.hidden {
    display:none;
}
/* End of general styles */
/* Start of welcome screen styles */
#welcome-screen {
    background-color:#23a1db; 
    border-color:#005ca7;
}

#play-button {
    background-color: #55a647;
    border-color: #006231;
}
/* End of welcome screen styles */
/* Start of game board styles */
#game-board {
    background-color: #812991;
    border-color: #a5439a;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    margin: auto;
    padding: 20px;
}

.card {
    width: 90px;
    height: 90px;
    background-color: #fff14f;
    border-radius: 10px;
    border: 5px solid #ffcb05;
}
/* End of game board styles */
/* Start of score board styles */
#score-board {
    background-color: #005ca7;
    border-color: #23a1db;
}

#retry-button {
    background-color: #f05133;
    border-color: #ed1b24;
}
/* End of score board styles */