/* Start of general styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background: #ffffff;
    font-family: "Coming soon", Arial;
    cursor: pointer;
}

.game-stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    border: 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

p,
li {
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 15px;
    padding: 10px;
    list-style-position: inside;
}

.button {
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid;
}

.hidden {
    display:none;
}
/* End of general styles */
/* Start of welcome screen styles */
#welcome-screen {
    background-color:#23a1db; 
    border-color:#005ca7;
}

#play-button {
    background-color: #55a647;
    border-color: #006231;
}
/* End of welcome screen styles */
/* Start of game board styles */
#game-board {
    background-color: #812991;
    border-color: #a5439a;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    margin: auto;
    padding: 20px;
    perspective: 1000px;
}

.card {
    height: 90px;
    width: 90px;
    position: relative;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: 0.8s;
}

.card.flip,
.card.match {
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 5px;        
    position: absolute;
    backface-visibility: hidden;
    border: 5px solid #ffcb05;  
}

.front {
    object-fit: cover;
    transform: rotateY(180deg);
}

.back {
    background-color: #fff14f;
}
/* End of game board styles */
/* Start of score board styles */
#score-board {
    background-color: #005ca7;
    border-color: #23a1db;
}

#retry-button {
    background-color: #f05133;
    border-color: #ed1b24;
}
/* End of score board styles */
/* Start of Media query: large or landscape phones (400px and up) */
@media screen and (min-width: 400px) {
    /* Start of general styles */
    p,
    li {
        font-size: 0.95rem;
    }
}
    /* End of general styles */
/* End of Media query: large or landscape phones (400px and up) */
/* Start of Media query: tablets (500px and up) */
@media screen and (min-width: 500px) {
    /* Start of general styles */
    h1,
    .button {
        font-size: 2.5rem;
    }
    /* End of general styles */
    /* Start of game board styles */
    .card {
          width: 110px;
          height: 110px;
      }
    /* End of game board styles */
}
/* End of Media query: tablets (500px and up) */
/* Start of Media query: large tablets and laptops (600px and up) */
@media screen and (min-width: 600px) {
    /* Start of general styles */
    h1,
    .button {
        font-size: 3rem;
    }
    
    p,
    li {
        font-size: 1.1rem;
    }    
    /* End of general styles */
    /* Start of game board styles */
    .card {
        width: 130px;
        height: 130px;
    }
    /* End of game board styles */    
}
/* End of Media query: large tablets and laptops (600px and up) */
/* Start of Media query: laptops and desktops (700px and up) */
@media screen and (min-width: 700px) {
    /* Start of general styles */
    h1,
    .button {
        font-size: 3.5rem;
    }  
    /* End of general styles */
    /* Start of game board styles */  
    #card-container {
      grid-template-columns: repeat(4, auto);
    }
  
    .card {
        width: 150px;
        height: 150px;
    }
    /* End of game board styles */
  }
/* End of Media query: laptops and desktops (700px and up) */
